<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Hello There</h1>

        <%= count %>

        <form class="" action="/" method="get">
            <input type="submit" name="" value="count">
        </form>
        <form class="" action="/sub" method="get">
             <input type="submit" name="" value="sub">
        </form>
        <form class="" action="/clear" method="get">
            <input type="submit" name="" value="clear">
        </form>

    </body>
</html>
